@model BandPromotionPlatform.Models.Cart

@{
    ViewData["Title"] = "CustomerCart";
}

<h2>CustomerCart</h2>

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CartItem1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CartItem1.Product.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CartItem2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CartItem2.Product.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CartPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CartPrice)
        </dd>

    </dl>
</div>
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe

<form action="/Stripe/Charge" method="POST">
    <article>
        <label>Amount: $@Html.DisplayFor(model => model.CartPrice)</label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@Stripe.Value.PublishableKey"
            data-locale="auto"
            data-description="Sample Charge"
            data-amount="500">
    </script>
</form>
