@model BandPromotionPlatform.Models.Cart

@{
    ViewData["Title"] = "CustomerCart";
}

<h2>CustomerCart</h2>

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CartItem1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CartItem1.Product.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CartItem2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CartItem2.CartItemID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CartID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
